<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
  </head>
  <body ng-app="chat">
    <div class="container" ng-controller="MainController as mainCtrl">
      <notification alert-data="mainCtrl.data.notification"></notification>
      <div ng-hide="mainCtrl.data.authenticated || mainCtrl.data.register">
        <div class="col-md-12">
          <label>Log in</label>
          <form ng-controller="LoginController as loginCtrl" ng-submit="loginCtrl.login(loginCtrl.username.trim(), loginCtrl.password)">
            <input type="text"
            class="form-control center-text"
            ng-model="loginCtrl.username"
            placeholder="Enter your username"
            autocomplete="off"
            required
            autofocus
            >
            <input type="password"
            class="form-control center-text"
            ng-model="loginCtrl.password"
            placeholder="Enter your password"
            autocomplete="off"
            required
            autofocus
            >
            <input type="submit" value="send">
            <a href="" ng-click="loginCtrl.data.register = true" style="float:right;">New user?</a>
          </form>
        </div>
      </div>
      <div ng-hide="mainCtrl.data.authenticated || !mainCtrl.data.register">
        <div class="col-md-12">
          <label>Sign up</label>
          <form ng-controller="RegisterController as registerCtrl" ng-submit="registerCtrl.register(registerCtrl.username.trim(), registerCtrl.password, registerCtrl.rePassword)">
            <input type="text"
            class="form-control center-text"
            ng-model="registerCtrl.username"
            placeholder="Enter your username"
            autocomplete="off"
            required
            autofocus
            >
            <input type="password"
            class="form-control center-text"
            ng-model="registerCtrl.password"
            placeholder="Enter your password"
            autocomplete="off"
            required
            autofocus
            >
            <input type="password"
            class="form-control center-text"
            ng-model="registerCtrl.rePassword"
            placeholder="Retype your password"
            autocomplete="off"
            required
            autofocus
            >
            <input type="submit" value="Send">
            <input type="button" value="Cancel" ng-click="registerCtrl.data.register = false">
          </form>
        </div>
      </div>
      <div ng-show="mainCtrl.data.authenticated">
        <div class="col-md-4" ng-controller="ChatController as chatCtrl">
          <div class="top-list">Available <a href="" style="float:right" ng-click="chatCtrl.logoff()">logoff</a></div>
          <ul>
            <li ng-repeat="friend in chatCtrl.data.friends"
              ng-click="chatCtrl.newChatRoom(friend, chatCtrl.data.selectedFriend)"
              class="friend"
              ng-class="{selected: friend.selected, newMessage: friend.newMessage && !friend.selected}">
              {{::friend.name}}
            </li>
          </ul>
          <div ng-show="chatCtrl.data.selectedFriend && chatCtrl.data.selectedFriend.room">
            <div
              ng-class="{newMessage: chatCtrl.data.selectedFriend.newMessage}"
              ng-click="chatCtrl.data.selectedFriend.newMessage = false">
              Chatting with <label>{{::chatCtrl.data.selectedFriend.name}}</label>
            </div>
            <div style="height:40px">
              <div style="width:80%; float:left">
                <input type="text"
                class="form-control"
                ng-model="chatCtrl.data.selectedFriend.room.chatInput"
                placeholder="Enter your message"
                autocomplete="off"
                required
                autofocus
                ng-keyup="chatCtrl.messageKeyUp(chatCtrl.data.selectedFriend, $event)"
                >
              </div>
              <div style="width:20%; float:left">
                <input type="button" value="Send" ng-click="chatCtrl.sendMessage(chatCtrl.data.selectedFriend)" ng-disabled="!chatCtrl.data.selectedFriend.room.chatInput || chatCtrl.data.selectedFriend.room.chatInput.length === 0">
              </div>
            </div>
            <div>
              <div ng-repeat="message in chatCtrl.data.selectedFriend.room.messages">
                <label>{{::message.from}}:</label> {{::message.text}}</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/scripts.ejs %>
  </body>
</html>
